<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-list>

        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let category of this.categoryList$ | async">
                    <ion-card button="true" style="max-width: 250px; max-height:250px">
                        <ion-card-header>

                            <ion-row>
                                <ion-col size="11">

                                    <ion-card-title>
                                        {{category.CategoryName}}
                                        <ion-badge color="danger">{{category.CategoryCount}}</ion-badge>
                                    </ion-card-title>
                                </ion-col>
                                <ion-col size="1">
                                    <ion-icon id="hover-button-{{category.uid}}" name="ellipsis-vertical-outline">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-popover #popver trigger="hover-button-{{category.uid}}">
                                <ng-template>
                                    <ion-content>
                                        <ion-list>
                                            <ion-item button="true" (click)="onClickDelCategory(category, popver)">
                                                <ion-label>削除</ion-label>
                                                <ion-icon name="trash-outline" color="danger"></ion-icon>
                                            </ion-item>
                                        </ion-list>
                                    </ion-content>
                                </ng-template>
                            </ion-popover>

                        </ion-card-header>
                        <ion-card-content>
                            Awesome content
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>




    </ion-list>


</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickAddCategoryBtn()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>